body
{
    font-family: 'Lato', sans-serif;
}
span
{
    color: #d64161;
}
h1
{
    font-size: 50px;
    color: #feb236;
}
p
{
    font-size: 20px;
    color: #3E3E3E;
    text-align: justify;
}
.half-width
{
    
    width: 40%;
    margin-left: 4%;
    padding: 2%;
    margin-top: 6%;
    float: left;
    text-align: justify;
}

.half-width img
{
    width: 90%;
}
.link-button
{
    text-decoration: none;
    background-image: linear-gradient(45deg,#ff7b25,#d64161);
    font-size: 18px;
    color: white;
    padding: 12px 35px;
    border-radius: 5px;
}
section
{
    
    height: 800px;
}
.fourth-portion
{
    height: 320px;
}


.half-width pre
{
    position : absolute;
    top: 27px;
    right: 63px;
    font-size: 17px;
    font-weight: 600;
    color: #1c094d;
}
h2
{
    font-size: 40px;
    color: #6b5b95;
}

#header2
{
    text-align: center;
}


.three-picture
{
    width: 22%;
    float: left;
    margin-top: 5%;
    box-shadow: 10px 10px 50px rgb(219, 215, 215);
    padding: 2%;
    border-radius: 10px;
    height: 400px;

}


#first-pic
{
    margin-left: 8%;
   
}
#second-pic
{
    margin-left: 2%;
}
#third-pic
{
   margin-left: 2%;
}

.image-size
{
    width: 100%;
}

.picture
{
    
    height:500px;
    position: relative;
}

.pic
{
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 2%;
    height: 250px;
}

#work-text
{
    position: absolute;
    top: 13%;
    left: 20%;
}
#lets-chat
{
    position: absolute;
    top: 24%;
    left: 69%;
}



footer p
{
    text-align: center;
    color: #ff7b25;
    font-size: 18px;
    /*margin-top: -30%;*/
    font-weight: 800;
}


#foot-h2
{
    font-size: 35px;
    text-align: center;
    
    color: #6b5b95;
}

#center
{
    text-align: center;
}
#sk
{
    color:  #ff7b25;
}
.skill-exp
{
    color: #c94c4c;
}
h3
{
    color:  #7a3b2e;
    font-size: 25px;
}

.project-link-text
{
    color: #c94c4c;
    font-weight: 600;
    font-size: 20px;
}

.myskill
{
    height: 800px;
    padding-bottom: 5%;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.shadow
{
    box-shadow: 5px 7px 40px grey;
    border-radius: 10px;
}
.part
{
    width: 23%;
    float: left;
    margin-left: 3%;
    padding: 3%;
    height: 430px;
    margin-top: 5%;
    background-color: white;
   
}
#pl
{
    border-left: 6px solid;
    border-image: linear-gradient(45deg ,#4040a1,#f18973);
    border-image-slice: 1;
}
#wd
{
    border-left: 6px solid;
    border-image: linear-gradient(180deg ,#50394c,#b2b2b2);
    border-image-slice: 1;
}
#dr
{
    border-left: 6px solid;
    border-image: linear-gradient(90deg ,#667292,#8d9db6);
    border-image-slice: 1;
}
#last
{
    color: grey;
}





